<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <h5><a id="colorCafe" class="nav-link" href="/">Inicio</a></h5>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if usuarioLog.esCliente}}
        <li class="nav-item">
          <a id="colorCafe" class="nav-link" href="/usuario/salir">Cerrar Sesión</a>
        </li>
      {{else}}
        <li class="nav-item dropdown">
          <a id="colorCafe" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a id="colorCafe" class="nav-link" href="/administracion/entrarUsuario">
              <i class="fa fa-sign-in" aria-hidden="true"> Entrar</i>            
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a id="colorCafe" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a id="colorCafe" class="nav-link" href="/usuario/entrarUsuario">
              <i class="fa fa-sign-in" aria-hidden="true"> Entrar</i>            
            </a>
            <a id="colorCafe" class="nav-link" href="/usuario/registrarUsuario"> 
              <i class="fa fa-user-plus" aria-hidden="true"> Registrarse</i>
            </a>
          </div>
        </li>
      {{/if}}

    </ul>
  </div>
</nav>