<div class="container">
    <div class="row">
        <div id="animacionArriba" class="card">
            <div class="card-body">
                <h1>Entrar a la aplicación</h1>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/usuario/entrarUsuario" method="POST" class="form-group">
                            <h1 class="text-center mb-5">Clientes</h1>
                            <input type="text" class="form-control" name="usuario" placeholder="Usuario" required>
                            <input type="password" class="form-control mt-2 mb-2" name="contraseña" placeholder="Contraseña" required>
                            <button type="submit" class="btn btn-outline-light mt-4">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="imgCliente" class="col">
            </div>
        </div>
    </div>
</div>